@import "./modal.css";

/* reset browser */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



:root {
    --red: #ef476f;
    --gold: #ffd166;
    --green: #06d6a0;
    --ltBlue: #118ab2;
    --dkBlue: #073b4c;
    font-family: sans-serif;
  }
html {
    font-size: 62.5%; 
}
body{
    margin: 0px;
    box-sizing: border-box;
}
nav{
    height: 75px;
    background-color: #118ab2;
}

.logo{
    margin-top: -12px;
    height: 100px;
}
#menuSelector{
    float: right;
    margin: 25px;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    background-color:  #ffd166;
    color: #073b4c;
}
h1{
    /* font-family:; */
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 0px;
    font-size: 40px;
    color:#073b4c;
}
.selectorContainer{
    margin: 5%;
    width: 40%;
    min-width: 300px;
    background-color:#ffd166;
    padding: 5%;
    border-radius: 10px;
}
.dropDownSection{
    display: flex;
    flex-direction: column;
    margin-top:10%;
    margin-bottom: 20%;
}
label{
    font-size: 25px;
}
.selectorDropdown{
    margin-top: 5%;
    width: 100%;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    background-color:  #ef476f;
    color: #073b4c;
}
.selectorArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
    align-content: space-around;
}
.aside{
    margin: 5%;
    background-color: aqua;
    padding: 50px;
    width: 40%;
    min-width: 300px;
    background-color:#ffd166;
    padding: 5%;
    border-radius: 10px;
}
.aside ul{
    background-color: #118ab2;
    border-radius: 10px;
    padding: 5%;
    padding-left: 10%;
    margin-top: 5%;
}
.aside h3{
    font-size: 25px;
    margin-bottom: 0px;
}
.divider{
    padding:2px;
    background-color: #ef476f;
    margin: 4%;
    border-radius: 2px;
}
.itineraryPreview{
    display: flex;
    justify-content: space-around;
    background-color: #118ab2;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.itineraryCard{
    background-color: #06d6a0;
    margin: 3%;
    padding: 5%;
    border-radius: 10px;
    justify-content: left;
}
.itineraryCard h3{
    font-size: 15px;
    margin-bottom: 15%;
}
.itineraryCard button{
    justify-content: left;
    margin-top: 10%;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    background-color:  #ffd166;
    color: #073b4c;
}
button:hover{
    background-color: #ef476f;
}
footer{
    margin-top: 10%;
    background-color: #073b4c;
    color: #06d6a0;
    padding: 15px;
}
