/* reset browser */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    --red: #ef476f;
    --gold: #ffd166;
    --green: #06d6a0;
    --ltBlue: #118ab2;
    --dkBlue: #073b4c;
    font-family: sans-serif;
  }
html {
    font-size: 62.5%; 
}
body{
    box-sizing: border-box;
}

nav{
    background-color: var(--dkblue);
}