@import "./modal.css";
@import "./save.css";
/* reset browser */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --red: #ef476f;
    --gold: #ffd166;
    --green: #06d6a0;
    --ltBlue: #118ab2;
    --dkBlue: #073b4c;
    font-family: sans-serif;
  }
html {
    font-size: 62.5%; 
}
body{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Source Serif Pro", serif;
}
nav{
    height: 75px;
    background-color: #118ab2;
}

.logo{
    margin-top: -12px;
    height: 100px;
}
#menuSelector{
    float: right;
    margin: 25px;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    background-color:  #ffd166;
    color: #073b4c;
}
h1{
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 0px;
    font-size: 40px;
    color:#073b4c;
}
h3, label {
    font-family: "Source Code Pro", monospace;
}
.selectorContainer{
    margin: 5%;
    width: 40%;
    min-width: 300px;
    background-color:#ffd166;
    padding: 5%;
    padding-bottom: 0%;
    padding-top: 2%;
    border-radius: 10px;
}
.dropDownSection{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 15%;
}
label{
    font-size: 25px;
}
.selectorDropdown{
    margin-top: 3%;
    width: 100%;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    background-color:  #ef476f;
    color: #073b4c;
}
.selectorArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2%;
    align-content: space-around;
    height: max-content;
}
.aside{
    margin: 5%;
    padding: 5%;
    padding-top: 2%;
    width: 40%;
    min-width: 300px;
    background-color: #ffd166;
    /* background-image:linear-gradient(to top left, #ffd166, #ffe3a3); */
    padding: 5%;
    border-radius: 10px;
}
.aside ul{
    background-image:linear-gradient(to bottom right, #118ab2, #ffe3a3);
    /* background-color: #118ab2; */
    border-radius: 10px;
    padding: 5%;
    padding-left: 10%;
    margin-top: 5%;
    font-family: "Source Serif Pro", serif;
    font-size: 15px;
    display: grid;
    grid-template-rows: repeat(15, max-content);
    grid-auto-flow: column;
    list-style-type: none;
}
.aside h3{
    font-size: 25px;
    margin-bottom: 0px;
}
.divider{
    padding:2px;
    background-color: #ef476f;
    margin: 4%;
    margin-top: 0px;
    border-radius: 2px;
}
.itineraryPreview{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #118ab2;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.secondThirdCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.itineraryCard{
    background-color: #06d6a0;
    margin: 3%;
    padding: 5%;
    border-radius: 10px;
    justify-content: left;
    min-width: 35%;
}
.itineraryCard h3{
    font-size: 18px;
    margin-bottom: 1%;
}
.itineraryCard p{
    font-size: 14px;
    margin-bottom: 2%;
}
.parkCard{
    display: flex;
    flex-direction: row;
}
button:hover{
    background-color: #ef476f;
}
footer{
    margin-top: 10%;
    background-color: #073b4c;
    color: #06d6a0;
    padding: 15px;
}
.itineraryButtonPreview{
    display: flex;
    justify-content: center;
}
/* hover action does not work with this button */
#btnSaveItinerary{
    margin-top: -10px;
    border-radius: 5px;
    border: 0px;
    padding: 3%;
    background-color:  #ffd166;
    color: #073b4c;
    font-size: 15px;
}
.dailyweather{
    background-color: #ef476f;
    margin: 1%;
    padding: 1.25%;
    border-radius: 5px;
    height: 100%;
}
.weatherMiniCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: auto;
    height: 100%;
}
.para{
    margin-top: 15px;
    font-size: 12px;
  }

a:visited {
    color: black;
}
.headingButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.parkDetails, .eateryDetails, .bizarreDetails {
    margin-top: 0%;
    margin-left: 5%;
    justify-content: left;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    background-color:  #ffd166;
    color: #073b4c;
}
.weatherFormat {
    display: block;
    width: 100%;
    height: 100%;
}